---
import NavBar from '../components/nav-bar.astro';

const pageTitle = 'About';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>John {pageTitle}</title>
	</head>
	<body>
        <NavBar />
		<h1 class="text-4xl underline">My Astro</h1>
        <h2 class="text-2xl">About</h2>
        <p class="text-xl">This is a site that has the orations of Jesus in the gospel of John.</p>
	</body>
</html>
