---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
	<div class="container-xl p-4">
		<p>This is the home page.</p>
		<ul>
			<li><a href="/books/genesis/gen-1/">Genesis 1 LXX & Latin - NEW</a></li>
			<li><a href="/books/genesis/gen-2/">Genesis 2 LXX & Latin - NEW</a></li>
			<li><a href="/books/genesis/gen-3/">Genesis 3 LXX & Latin - NEW</a></li>
			<li><a href="/books/genesis/gen-4/">Genesis 4 LXX & Latin - NEW</a></li>
			<li><a href="/books/exodus/exod-1/">Exodus 1 LXX & Latin - NEW</a></li>
		</ul>
	</div>
</BaseLayout>
