---
import NavBar from '../components/nav-bar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <NavBar />
		<h1 class="text-4xl underline">My Astro</h1>
        <h2 class="text-2xl">Sections</h2>
        <p class="text-xl">This page will be a catalog of different sections.</p>
	</body>
</html>
