---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
    <article class="prose prose-neutral lg:prose-xl prose-img:rounded-xl prose-headings:underline lg:px-20">
        <p class="text-xl">Written by {frontmatter.author}</p>
        <div class="container-xl p-4">
            <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
            <slot />
        </div>
    </article>
</BaseLayout>